@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: "Bebas Neue";
  margin: 0;
  background-color: #333;
}

button {
  font-family: "Bebas Neue";
}

h1 {
  font-weight: normal;
}
h2 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
h4 {
  font-weight: normal;
}
h5 {
  font-weight: normal;
}
