/* Margin-top: auto is what pushes the footer to the bottom */

.footer-container {
  display: flex;
  background-color: #7e7d7d;
  color: black;
  justify-content: center;
  margin-top: auto;
}

.footer-container > div {
  padding: 0 60px 0 60px;
}
