/* Margin-top: auto is what pushes the footer to the bottom */

.footer-container {
  display: flex;
  color: white;
  justify-content: center;
  margin-top: auto;
  text-align: center;
  width: 100%;
}

.footer-hr {
  width: 100%;
}

.footer-container > div {
  padding: 0 60px 0 60px;
}

.footer-container > div > h3 {
  text-decoration: underline;
}
.footer-link {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-in;
}

.footer-link:hover {
  color: #f85050d9;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.footer-subscribe > form > button {
  background-color: #f85050d9;
  border: 1px solid black;
  margin-top: 5px;
  height: 30px;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal;
  color: white;
}

.footer-input {
  all: unset;
  width: 180px;
  background-color: #d9d9d9;
  color: black;
  text-align: left;
  padding: 0 10px 0 8px;
  margin-right: 30px;
  border: 1px solid black;
  margin-right: 20px;
  height: 30px;
}

@media (max-width: 800px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
