.nav-main {
}

.nav-ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.nav-li {
  display: inline;
}

.nav-title {
  position: absolute;
  top: -15px;
  left: 300px;
  font-size: 40px;
  color: #f85050;
  text-decoration: none;
}
.nav-link-title {
  text-decoration: none;
}

.nav-contact {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 17px;
  font-size: 18px;
  font-weight: normal;
}

.nav-link-container {
  display: flex;
  position: absolute;
  top: 5px;
  right: 350px;
}

.nav-user {
  position: absolute;
  top: 15px;
  margin-left: 15px;
  border: 1px solid white;
  padding: 8px;
  border-radius: 50%;
  color: white;
}

.nav-link {
  font-size: 18px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #111;
}

.logout {
  display: inherit;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logout:hover {
  background-color: #111;
}

.auth-dropdown {
  position: relative;
  bottom: -50px;
  left: -20px;
  text-align: center;
  margin: 10px;
  border: 1px solid white;
}
