.movie-scene-carousel-container {
  width: 94%;
  /* height: 20%; */
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.movie-scene-carousel-image {
  height: 440px;
  width: 75%;
  object-fit: cover;
  margin: 0 auto;
  border: 3px solid black;
}

@media (max-width: 910px) {
  .movie-scene-carousel-container {
    width: 95%;
  }

  .movie-scene-carousel-image {
    width: 100%;
  }
}

@media (max-width: 875px) {
  .movie-scene-carousel-image {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .movie-scene-carousel-image {
    height: 250px;
  }
}

/* @media (max-width: 500px) {
  .movie-scene-carousel-container {
    width: 40%;
  }
} */
