.movie-scene-carousel-container {
  width: 100%;
  /* height: 20%; */
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  margin-bottom: 30px;
}

.movie-scene-carousel-image {
  height: 440px;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  border: 1px solid black;
}
