.showing-carousel-container {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.showing-carousel-image {
  height: 250px;
  margin: 0 auto;
}

@media (max-width: 1260px) {
  .showing-carousel-container {
    width: 1000px;
  }
}

@media (max-width: 1060px) {
  .showing-carousel-container {
    width: 850px;
  }
}

@media (max-width: 910px) {
  .showing-carousel-container {
    width: 750px;
  }
}

@media (max-width: 790px) {
  .showing-carousel-container {
    width: 560px;
  }
}

@media (max-width: 660px) {
  .showing-carousel-container {
    width: 470px;
  }
}

@media (max-width: 550px) {
  .showing-carousel-container {
    width: 370px;
  }
}

@media (max-width: 450px) {
  .showing-carousel-container {
    width: 300px;
    margin-bottom: 20px;
  }
}
