.prices-table-container {
  width: 26rem;
  display: flex;
  flex-direction: column;
}

.prices-table-container > table {
  width: 100%;
  text-align: center;
  background-color: #d9d9d9;
  margin-bottom: 20px;
}

.prices-table-container > table > tr > th {
  background-color: #9c9c9c;
}

.prices-title {
  color: white;
  text-align: center;
}

.prices-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
