.prices-table-container {
  width: 26rem;
  display: flex;
  flex-direction: column;
}

.prices-table-container > table {
  width: 100%;
  text-align: center;
  background-color: #d9d9d9;
  margin-bottom: 35px;
}

.prices-table-container > table > tr > th {
  background-color: #9c9c9c;
}

.prices-title {
  color: white;
  text-align: center;
}

.prices-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prices-table-heading {
  color: white;
  margin: 0;
  align-self: flex-start;
  margin-bottom: 5px;
}

.prices-page-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0;
}

@media (max-width: 430px) {
  .prices-table-container {
    width: 90%;
  }

  .prices-page-table-container {
    width: 100%;
  }

  .prices-table-heading {
    padding-left: 20px;
  }
}
