.booking-details-container {
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;
  margin-top: 1.25rem;
  color: black;
  width: 100%;
  border: 0.0625rem solid black;
  padding-bottom: 0.9375rem;
  justify-content: center;
}

.booking-details-container > img {
  height: 7.5rem;
  width: 5.3125rem;
  border-radius: 2%;
  margin-top: 0.9375rem;
  margin-left: 1.25rem;
}

.booking-details-times-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.9375rem;
}

.booking-details-times-container > h3 {
  margin: 0.9375rem 0 0.625rem 0;
}

.booking-details-list {
}

.booking-details-list > h1 {
  color: white;
  text-align: center;
}

.booking-details-date-time {
  display: flex;
}

.booking-details-time {
  margin-left: 2.5rem;
}

.booking-details-time > h4 {
  margin: 0;
}
.booking-details-date > h4 {
  margin: 0;
}

.booking-cancel-button {
  margin-top: 0.625rem;
  color: white;
  border: 0.0625rem solid black;
  background-color: #f85050d9;
}
