.booking-details-container {
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;
  margin-top: 1.25rem;
  color: black;
  border: 0.0625rem solid black;
  padding-bottom: 0.9375rem;
  justify-content: center;
}

.booking-details-image {
  height: 7.5rem;
  width: 5.3125rem;
  border-radius: 2%;
  margin-top: 0.9375rem;
}

.booking-details-times-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.9375rem;
}

.booking-details-title {
  margin: 0.9375rem 0 0.625rem 0;
}
.booking-details-title-hidden {
  display: none;
}

.booking-details-list {
  width: 400px;
}

.booking-details-list > h1 {
  color: white;
  text-align: center;
}

.booking-details-date-time {
  display: flex;
}

.booking-details-time {
  margin-left: 2.5rem;
}

.booking-details-time > h4 {
  margin: 0;
}
.booking-details-date > h4 {
  margin: 0;
}

.booking-cancel-button {
  margin-top: 0.625rem;
  color: white;
  border: 0.0625rem solid black;
  background-color: #f85050d9;
}

.no-bookings-text {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}

.button-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.booking-title-icon {
  height: 20px;
  width: 20px;
  margin-left: 2px;
}

.no-bookings-button {
  all: unset;
  height: 30px;
  color: white;
  text-align: center;
  border: 1px solid white;
  margin: 10px 0 10px 0;
  width: 300px;
}

.booking-details-image-hidden {
  display: none;
}

.booking-details-hidden {
  /* display: none; */
}

@media (max-width: 460px) {
  .booking-details-list {
    width: 80%;
  }

  .booking-details-date-time {
    flex-wrap: wrap;
    text-align: left;
    justify-content: left;
    align-items: start;
  }
  .booking-details-time > h4 {
    text-align: left;
    justify-content: left;
    align-items: start;
  }
  .booking-details-image {
    display: none;
  }

  .booking-details-image-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    width: 5.3125rem;
    border-radius: 2%;
    margin-bottom: 25px;
  }
  .booking-details-title {
    display: none;
  }

  .booking-details-title-hidden {
    display: flex;
  }

  .booking-details-hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
