.login-form-container {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.login-form-main {
  display: flex;
  flex-direction: column;
  width: 300px;
}
