.profile-loyalty-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.profile-loyalty-container > button.no-border {
  all: unset;
  height: 30px;
  color: white;
  text-align: center;
  border: 1px solid white;
  margin: 10px 0 10px 0;
  width: 300px;
}

.profile-loyalty-container > button.border {
  all: unset;
  height: 30px;
  background-color: #f85050d9;
  color: white;
  text-align: center;
  border: 1px solid black;
  margin: 0 0 10px 0;
}

.profile-loyalty-points {
  font-size: 40px;
  margin: 0;
}
