.register-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  color: white;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
}

.register-form-container > input {
  width: 18.75rem;
  height: 1.875rem;
  background-color: #d9d9d9;
  margin: 0.1875rem 0 0.1875rem 0;
}

.register-container > h1 {
  margin: 0;
}

button.no-border {
  all: unset;
  width: 19.0625rem;
  height: 1.875rem;
  color: white;
  text-align: center;
  border: 0.0625rem solid white;
  margin: 0.625rem 0rem 0.625rem 0rem;
}

button.border {
  all: unset;
  width: 19.0625rem;
  height: 1.875rem;
  background-color: #f85050d9;
  color: white;
  text-align: center;
  border: 0.0625rem solid black;
  margin: 0.625rem 0 0.625rem 0;
}

.register-form-container > p {
  color: #f85050d9;
  font-size: 1rem;
  margin: 0.3125rem 0 0rem 0;
  text-align: center;
  font-weight: normal;
}
