.special-offers-container {
  width: 400px;
  height: 100%;

  border: 1px solid black;
  text-align: center;
  padding-bottom: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
  background-color: #d9d9d9;
}

.special-offers-image-container {
  width: 300px;
  margin: 0 auto;
}

.special-offers-image-container > img {
  width: 100%;
  height: 300px;
}

.special-offers-container > p {
  padding-left: 50px;
  padding-right: 45px;
  text-align: left;
}

.special-offers-page-container > h1,
h2.special-offers-heading {
  text-align: center;
  color: white;
}
