.comingSoon-container {
  width: 31rem;
  height: 100%;
  border: 0.0625rem solid black;
  margin: 0 auto;
  display: flex;
  margin-bottom: 1.25rem;
  background-color: #d9d9d9;
  margin-top: 1.25rem;
  padding-right: 0.625rem;
}

.comingSoon-poster {
  height: 18.75rem;
  width: 13.75rem;
  border-radius: 2%;
  margin-top: 0.9375rem;
  margin-left: 1.25rem;
}

.comingSoon-details {
  margin-left: 1.875rem;
}

.comingSoon-list {
  margin: 0 auto;
  width: 68rem;
  display: flex;
  flex-wrap: wrap;
}

.comingSoon-title {
  color: white;
  text-align: center;
}

@media (max-width: 1090px) {
  .comingSoon-list {
    flex-direction: column;
    width: 100%;
  }

  .comingSoon-container {
    flex-direction: column;
    width: 100%;
  }
}
