.seat-details-container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin-top: 62px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.seat-numbers-container {
  display: flex;
  justify-content: space-between;
}

.seat-numbers-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seat-booking-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seat-booking-button {
  width: 200px;
  height: 30px;
  border: 1px solid black;
  color: white;
  font-size: 17px;
  background-color: #f85050d9;
}

.seat-freeBooking-button {
  width: 200px;
  height: 30px;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  font-size: 17px;
  background-color: #333;
  margin-top: 10px;
}

.ticket-seat-details-p {
  margin: 0;
}
