.seat-panel-container {
  width: 70%;
  height: 100%;
  background-color: #d9d9d9;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.seat-panel-flex {
  display: flex;
}

@media (max-width: 1000px) {
  .seat-panel-container {
    flex-direction: column;
    width: 100%;
  }
}
