.seat-container {
  width: 900px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid black;
}

.seat-position-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.seat-position-container-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: green;
}

.seat-position-container:hover {
  background-color: green;
}

.seat-position-container-reserved {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: red;
}
