.banner-container {
  background-color: #f85050;
  height: 4rem;
  border-top: 0.17rem solid black;
  border-bottom: 0.17rem solid black;
  width: 100%;
  align-items: center;
}

.banner-container > h2 {
  color: white;
  font-size: 30px;
  padding-left: 240px;
  line-height: 20px;
}
