.movie-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin-bottom: 30px;
}

.movie-search-input {
  all: unset;
  width: 200px;
  background-color: #d9d9d9;
  color: black;
  border: 1px solid black;
  height: 40px;
  padding-left: 10px;
  margin: 0 2px 0 2px;
}

.movie-search-dropdowns {
  position: relative;
  background-color: #d9d9d9;
  padding: 10px 10px 10px 10px;
  margin: 0 3px 0 3px;
}

.movie-search-book-button {
  all: unset;
  text-align: center;
  text-decoration: none;
  background-color: #f85050;
  border: 1px solid black;

  color: white;
  width: 100px;
  padding: 10px;
  height: 20px;
  margin-left: 5px;
  font-size: 18px;
}

.movie-search-quick-button {
  all: unset;
  color: white;
  border: 1px solid white;
  width: 100px;
  height: 20px;
  padding: 10px;
  font-size: 18px;
  margin-right: 4px;
  text-align: center;
}

.movie-search-dropdowns:hover {
  background-color: #939191;
}

.movie-search-dropdowns-active {
  background-color: #939191;
}

.movie-dropdown-icon-container {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.movie-dropdown-icons {
}

@media (max-width: 920px) {
  .movie-search-container {
    flex-direction: column;
    align-items: center;
  }

  .movie-search-book-button {
    width: 290px;
    margin: 0;
  }

  .movie-search-quick-button {
    width: 290px;
    margin: 0;
    border-bottom: 0;
  }

  .movie-search-input {
    width: 300px;
  }
}
