.special-offers-home-container {
  display: flex;
  justify-content: space-evenly;
}

.special-offers-home-container > div > img {
  width: 300px;
  height: 300px;
}

@media (max-width: 800px) {
  .special-offers-home-container {
    flex-direction: column;
  }
}
