.loyalty-container {
  width: 1200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
}

.loyalty-button-container {
  display: flex;
  justify-content: center;
}

.loyalty-button-container > button {
  width: 150px;
  height: 30px;
  border: 1px solid black;
  background-color: #f85050;
  color: white;
  margin: 20px 0 20px 0;
}

.loyalty-icons-container {
  display: flex;
  justify-content: center;
}

.loyalty-text-container {
  text-align: center;
}
