.movie-details-container {
  width: 900px;
  height: 100%;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  padding-bottom: 250px;
  background-color: #d9d9d9;
}

.movie-details-section {
  width: 600px;
}

.movie-details-section > div {
  display: flex;
}

.movie-details-column-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 30px;
}
.movie-details-column-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-details-column-1 > label {
  font-size: 20px;
}
.movie-details-column-1 > h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #3b3b3b;
}
.movie-details-column-2 > label {
  font-size: 20px;
}
.movie-details-column-2 > h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #3b3b3b;
}

.movie-details-description-label {
  font-size: 20px;
}

.movie-details-description-p {
  font-size: 18px;
  margin-top: 10px;
  color: #3b3b3b;
}

.movie-hidden-title {
  display: none;
}

.movie-date-time-container {
  width: 54%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.movie-details-poster {
  height: 300px;
  width: 220px;
  border-radius: 2%;
  margin-top: 15px;
  margin-left: 20px;
}

@media (max-width: 910px) {
  .movie-details-container {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 7px;
  }

  .movie-details-poster {
    margin: 0;
  }

  .movie-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .movie-hidden-title {
    display: block;
  }

  .movie-shown-title {
    display: none;
  }

  .movie-details-section {
    width: 90%;
    margin: 0;
  }

  .movie-details-column-1 {
    width: 100%;
    padding: 0 20px 0 20px;
  }
  .movie-details-column-2 {
    width: 100%;
    padding: 0 20px 0 20px;
  }

  .movie-details-description-label {
    width: 100%;

    padding-left: 20px;
  }

  .movie-details-description-p {
    width: 100%;
    padding-left: 20px;
    margin-right: 20px;
  }
}
